* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FDF0D5;
    padding: 20px;
}

.url-diagram {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid #C1121F;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.url-part {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #669BBC;
    color: #fff;
    position: relative;
}

.scheme {
    background-color: #C1121F; /* Different color for scheme */
}

.labels {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.label {
    width: 100px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}
