* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    height: 100vh; /* Set height to full viewport height */
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();
    background-position: center;
    background-size: cover;
    position: relative; /* Changed to relative to position forms inside */
}

.form-box {
    width: 380px;
    height: 480px;
    position: absolute;
    top: 50%; /* Centering */
    left: 50%; /* Centering */
    transform: translate(-50%, -50%); /* Centering */
    background: #FDF0D5;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #669BBC;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    color: white;
    font-weight: bold;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #C1121F;
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: #003049;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #780000;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #C1121F;
}

.checkbox {
    margin: 30px 10px 30px 0;
}

span {
    color: #669BBC;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
    transition: left 0.5s ease;
}

#signup {
    left: 450px; 
    transition: left 0.5s ease;
}
